<template name="actionSheet">
  {{#contentFor "headerButtonLeft"}}
    <a href="{{pathFor 'index'}}" class="button button-clear pull-left" data-nav-direction="back">
      {{> ionIcon icon='ios-arrow-back'}}
    </a>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Action Sheet</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">
        <button class="button button-large button-stable" data-action="showActionSheet">
          Show Action Sheet
        </button>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
