<template name="popover">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Popover</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-popover="_myPopover">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='more'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">
        Click the more info icon in the top right.
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
