<template name="popup">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Popup</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">
        <button class="button button-block button-stable" data-action="showPopup" onclick="alert('TODO')">
          Show Popup
        </button>
        <button class="button button-block button-stable" data-action="showConfirm" onclick="alert('TODO')">
          Show Confirm
        </button>
        <button class="button button-block button-stable" data-action="showAlert" onclick="alert('TODO')">
          Show Alert
        </button>
        <button class="button button-block button-stable" data-action="showPrompt" onclick="alert('TODO')">
          Show Prompt
        </button>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
