<template name="loading">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Loading</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">
        <button class="button button-large button-stable button-block" data-action="showLoading">
          Show Loading (3s)
        </button>

        <button class="button button-large button-stable button-block" data-action="showLoadingWithBackdrop">
          Show Loading With Backdrop (3s)
        </button>

        <button class="button button-large button-stable button-block" data-action="showLoadingCustomTemplate">
          Show Loading With Template (3s)
        </button>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
