<template name="loading">
  {{#contentFor "headerButtonLeft"}}
    <a href="{{pathFor 'index'}}" class="button button-clear pull-left" data-nav-direction="reverse">
      {{> ionIcon icon='ios-arrow-back'}}
    </a>
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Loading</h1>
  {{/contentFor}}

  {{#ionContent}}
    <div class="padding">
      <button class="button button-large button-stable" data-action="showLoading">
        Show Loading (3s)
      </button>
    </div>
  {{/ionContent}}
</template>
