<template name="lists">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Lists</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" onclick="alert('TODO')">Edit</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}

        {{#each times}}

          {{#ionItem buttonRight=true avatar=true}}

            <img src="https://randomuser.me/api/portraits/thumb/men/27.jpg">
            <h2>John Smith</h2>
            <p>
              (555) 555-1212
            </p>
            <button class="button button-positive">{{> ionIcon icon="ios-telephone"}}</button>

          {{/ionItem}}

        {{/each}}

      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
