<template name="userAccounts">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">User Accounts</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#if currentUser}}
        <div class="padding">
          <button class="button button-positive button-block" data-action="logout">Log Out</button>
        </div>
      {{else}}
        {{> atForm}}
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>
